.module {
  padding: 10px 20px;
  float: left;
  width: 600px;
}

.module h3 {
  margin: 20px 0 0;
  padding: 0;
  width: 100%;
}

.module p {
  margin: 10px 0 20px;
  width: 100%;
  float: left;
}

ul#course-modules {
  list-style: none;
  overflow: auto;
}

ul#course-modules textarea {
  width: 600px;
  height: 120px;
}

ul#course-modules li {
  padding: 20px;
  overflow: auto;
  cursor: move;
}

ul#course-modules li:nth-child(even) {
  background: var(--gray-1);
}

ul#course-modules li:hover {
  background: var(--gray-2);
}

#module-contents div {
  padding: 10px 20px;
  border: 1px solid var(--gray-2);
  background: #fff;
}

#module-contents form {
  margin: 0;
  padding: 0;
}

#module-contents input[type='submit'] {
  color: var(--main-color);
  background: none;
  margin: -20px 0 0;
  padding: 0;
  float: left;
  text-transform: none;
}

#module-contents div:hover {
  cursor: move;
}
