{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}E-Learning{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}?version=9">
</head>
<body>
    <header id="header">
        <a href="{% url 'course_list' %}" class='logo'>E-Learning</a>
        <ul class="menu">
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'student_course_list' %}">My Courses</a></li>
                <li><a href="{% url 'logout' %}">Sign out</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Sign in</a></li>
            {% endif %}
        </ul>
    </header>
    <main id="content">
        {% block content %}{% endblock %}
    </main>
    <script src='{% static 'js/jquery.min.js' %}'></script>
    <script src='{% static 'js/jquery-ui.min.js' %}'></script>
    <script>
        $(document).ready(function() {
            {% block domready %}{% endblock %}
        })
    </script>
</body>
</html>