form p {
  overflow: auto;
}

.errorlist {
  color: #ae2c2c;
  margin: 0;
}

label {
  float: left;
  clear: both;
  margin: 0 0 8px 0;
}

input,
select,
textarea {
  border: 1px solid var(--gray-2);
  border-bottom: 3px solid var(--gray-2);
  padding: 8px 12px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  float: left;
  clear: both;
  width: 300px;
}

textarea {
  height: 80px;
}

select {
  width: 324px;
}

input[type='submit'],
a.button {
  border-radius: 5px;
  background: var(--secondary-color);
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  padding: 10px 20px;
  margin: 20px 0;
}

input[type='submit']:hover,
a.button:hover {
  background: var(--main-color);
}

.formset input {
  display: block;
}